* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue';
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: #beb209;
}

main{
    background-color: #dae81e;
}

h1{
    color: #131313;
    font-size: 5rem;
}